<div class="px-5">
  <h1>Portfolio</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, rem recusandae pariatur sit architecto incidunt
    quae natus maxime deserunt hic nobis atque perspiciatis velit delectus sint. Aliquid voluptatum est suscipit.</p>


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="border border-0 card" style="width: 18rem;">
          <img src="https://cdnitesm.azureedge.net/miespacio-guia-de-estilos/img/300x200.gif" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Projet Name</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ad dolores architecto
              nam inventore quo neque nesciunt distinctio adipisci doloribus tenetur optio vitae nulla culpa alias sed
              aliquid, eius cupiditate?</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="border border-0 card" style="width: 18rem;">
          <img src="https://cdnitesm.azureedge.net/miespacio-guia-de-estilos/img/300x200.gif" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Projet Name</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ad dolores architecto
              nam inventore quo neque nesciunt distinctio adipisci doloribus tenetur optio vitae nulla culpa alias sed
              aliquid, eius cupiditate?</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="border border-0 card" style="width: 18rem;">
          <img src="https://cdnitesm.azureedge.net/miespacio-guia-de-estilos/img/300x200.gif" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Projet Name</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ad dolores architecto
              nam inventore quo neque nesciunt distinctio adipisci doloribus tenetur optio vitae nulla culpa alias sed
              aliquid, eius cupiditate?</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>