<style>
    .container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.down{
    top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style

<div>
    <img src="./assets/img/bg.jpg" class="img-fluid" alt="Heading">
</div>
<div>
<div>class="container">
    <div class="centered">
        <h1>One Page Wonder</h1>
    </div>
    <div class="container">
        <h2>Will Knock Your Socks Off</h2>
    </div>    
</div>
</div>
